$color-primary: #256aff;
$color-primary-tint-2: #558bff;
$color-primary-tint-3: #9dd3ff;

$color-secondary: #ff8662;
$color-secondary-tint-2: #ff744d;
$color-secondary-tint-3: #f45100;

$color-ternary: #fed095;

$color-grey-background: #f7f7f7;
$color-grey-text: #535353;
$color-grey-box-shadow: rgba(0, 0, 0, 0.15);
$color-grey-box-shadow-hover: rgba(0, 0, 0, 0.25);

$section-big-padding: 8rem;
$section-mobile-padding: 2rem;
$paragraph-max-width: 600px;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
