$color-primary: #256AFF;
$color-grey-background: #f7f7f7;
$color-grey-text: #535353;
$color-grey-box-shadow: #d0d0d0;
$color-grey-box-shadow-hover: #909090;

$section-big-padding: 8rem;
$section-mobile-padding: 2rem;
$paragraph-max-width: 600px;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;

