@import "../../../assets/style/index";

.skill {
  display: flex;
  padding: 0 10vw;

  & > * {
    flex-basis: 100%;
  }

  &:nth-child(odd) {
    background-color: $color-grey-background;
    flex-direction: row-reverse;
  }

  &:nth-child(odd) & {
    &__intro {
      background-color: white;
    }
  }

  &:nth-child(even) & {
    &__intro {
      background-color: $color-grey-background;
    }
  }

  &__intro {
    &-container {
      padding: 3rem;
    }
  }

  &__image {
    height: inherit;
    width: inherit;
    object-fit: cover;

    &-container {
      margin: 0;
      overflow: hidden;
      height: 400px;
    }
  }

  &__label {
    font-size: 2.2rem;
  }

  &__description {
    color: $color-grey-text;
    line-height: $line-height-large;
  }

  @media (max-width: $breakpoint-tablet) {
    &:nth-child(odd),
    &:nth-child(even) {
      flex-direction: column-reverse;
    }

    &__image-container {
      height: 200px;
    }
  }
}
