@import '../../assets/style/index.scss';

.what-i-do {
  max-width: $paragraph-max-width;
  margin: auto;
  @include sectionPadding;

  &__introduction {
    line-height: $line-height-large;
    font-size: 1.1rem;
    color: $color-grey-text;
  }

  &__title {
    font-size: 4rem;
    @media (max-width: $breakpoint-mobile) {
      font-size: 2rem;
    }
  }
}
