@import '../../assets/style/variables.scss';

.what-i-do {
  max-width: $paragraph-max-width;
  margin: auto;
  padding: $section-big-padding;

  &__introduction {
    line-height: $larger-line-height;
    font-size: 1.1rem;
    color: $color-grey-text;
  }

  &__title {
    font-size: 4rem;
  }
}
