@import "../../assets/style/index.scss";

html {
  font-family: $inter;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.highlight {
  color: $color-primary;
}
