@import "../../../assets/style/index.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: baseline;
    @include animateGradientText;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 2rem;
    margin-left: 2rem;

    .fa-laptop-code {
      margin-right: 0.5rem;
      color: $color-primary-tint-2;
      font-size: 1rem;
    }
  }
}
