@import "../../assets/style/index.scss";

.who-i-am {
  @include sectionPadding;
  @include animateGradientBackground;

  &__block-title {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__job {
    font-size: 3rem;
    @media (max-width: $breakpoint-mobile) {
      font-size: 2rem;
    }
  }

  &__introduction {
    max-width: $paragraph-max-width;
    line-height: $line-height-large;
  }

  &__hello {
  }
}
